<div class='wrapper phrase'>
  <div class="content-bg">
    <main class="o-main o-main--hasSubHeader o-main--hasLeftContainer" role="main">
      <div class="o-container">
        <div class='row-fluid subtitle-box'>
          <div class='span6'>
            <h2>
              Phrases
            </h2>
          </div>
        </div>

        <div ng-include src="'./build/templates/phrase/phrase.bar/phrase.bar.html'"></div>
        <div ng-include src="'./build/templates/phrase/phrase.table/phrase.table.html'"></div>
        <!-- <phrase-table phrases="phraseCtrl.phrase"> -->
        <!-- </phrase-table> -->
      </div><!-- o container -->
    </main><!-- main -->
  </div>
</div><!-- wrapper -->
